# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

aggregator
aggregator_stats
node_stats
step_stats
timeline_stats
tracker
louvain-generic/convert
louvain-generic/louvain
louvain-generic/matrix
Dockerfile
docker-compose.yml