./env
config/connections.yml
storage/datasets/*
!storage/datasets/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
storage/results/*
!storage/results/.gitkeep
storage/cache/*
!storage/cache/.gitkeep
storage/tmp
storage/exports/*
!storage/exports/.gitkeep
storage/outputs/*
!storage/outputs/.gitkeep
tmp
wandb
ext
/ext
/benchmarks/*
!/benchmarks/GEMSEC
!/benchmarks/ComE
!/benchmarks/CP-GNN